In [43]:
import pandas as pd
import numpy as np
import sqlalchemy as alch

import sys
sys.path.append('../src/suport.py')
import src.suport as sp

from getpass import getpass # sistema seguro para gestión de contraseñas
from tqdm import tqdm # Is a library for adding progress bars to your loops and iterations.

ModuleNotFoundError: No module named 'src'

In [ ]:
allcards = pd.read_csv("../data/all_cards.csv", index_col = 0)
topcards = pd.read_csv("../data/top_cards.csv", index_col = 0)

In [39]:
topcards.sample()

        id_                     name  decks  porcentage
94  2563463  Wandering Gryphon Rider    256      7.6785

In [ ]:
allcards.isnull().sum()

In [ ]:
columna = 'race'
valores_nulos = allcards[allcards[columna].isnull()]
valores_nulos

In [ ]:
allcards.reset_index(inplace=True)

In [38]:
topcards.reset_index(inplace=True)

In [ ]:
allcards

In [ ]:
allcards.loc[994]

In [ ]:
# almacenamos la contraseña en una variable de forma segura, para que nadie la pueda ver. 

password = getpass("Contraseña de MySQL: ")

In [ ]:
# almacenamos el nombre de nuestra BBDD en una variable
db_name = "yu_gi_oh_cards"


# creamos la conexipn con MySQL
conexion = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [ ]:
engine = alch.create_engine(conexion)

In [ ]:
allcards["name"] = allcards["name"].str.replace('"', " ").str.replace("'"," ").str.replace('""'," ").str.replace("%"," ")
allcards["desc"] = allcards["desc"].str.replace('"', " ").str.replace("'"," ").str.replace('""'," ").str.replace("%"," ").str.replace("@"," ")

In [ ]:
allcards.head(1)

In [ ]:
allcards['valores'] = range(1, 12667)

In [17]:
for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO `description` (url, `desc`, cards_passcode)
    VALUES (%s, %s, %s)
    """            
    values = (row['url_'], row['desc'], row['id_'])
    engine.execute(query, values)

12666it [00:21, 577.44it/s]

In [21]:
allcards.loc[allcards['id_'] == 300302044, 'race'] = 'none'

In [22]:
for index, row in tqdm(allcards.iterrows()):
    query = """
    INSERT INTO race (race_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s,%s)        """            
    values = (row['race'], row['id_'],row['valores'])
    engine.execute(query, values)

12666it [00:21, 597.84it/s]

In [25]:
for index, row in tqdm(allcards.iterrows()):
    

    query = """
    INSERT INTO def (def, description_cards_passcode, description_description_id)
    VALUES (%s, %s,%s)        """            
    values = (row['def'], row['id_'],row['valores'])
    engine.execute(query, values)

12666it [00:22, 560.15it/s]

In [24]:
allcards['def'] = allcards['def'].fillna(0).astype(int)

In [27]:
for index, row in tqdm(allcards.iterrows()):
    
    
    query = """
    INSERT INTO atk (atk, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['atk'], row['id_'],row['valores'])
    engine.execute(query, values)

12666it [00:21, 594.45it/s]

In [26]:
allcards['atk'] = allcards['atk'].fillna(0).astype(int)

In [29]:
for index, row in tqdm(allcards.iterrows()):
    
    
    query = """
    INSERT INTO level (level, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['level'], row['id_'],row['valores'])
    engine.execute(query, values)

12666it [00:21, 595.10it/s]

In [28]:
allcards['level'] = allcards['level'].fillna(0).astype(int)

In [30]:
for index, row in tqdm(allcards.iterrows()):

    query = """
    INSERT INTO type (type_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['type'], row['id_'],row['valores'])
    engine.execute(query, values)

12666it [00:23, 539.34it/s]

In [32]:
for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO archetype (archetype_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['archetype'], row['id_'],row['valores'])
    engine.execute(query, values)

12666it [00:22, 556.76it/s]

In [31]:
allcards['archetype'] = allcards['archetype'].fillna("None")

In [34]:
for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO attribute (attribute_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['attribute'], row['id_'],row['valores'])
    engine.execute(query, values)

12666it [00:22, 573.42it/s]

In [33]:
allcards['attribute'] = allcards['attribute'].fillna("None")

In [35]:
for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO frametype (frametype_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['frametype'], row['id_'],row['valores'])
    engine.execute(query, values)

12666it [00:24, 510.84it/s]

In [16]:
for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO market (cardmarket_price, tcgplayer_price, ebay_price, amazon_price, coolstuffinc_price, cards_passcode)
    VALUES (%s, %s,%s, %s, %s, %s)        """            
    values = (row['cardmarket_price'],row['tcgplayer_price'],row['ebay_price'],row['amazon_price'],row['coolstuffinc_price'], row['id_'])
    engine.execute(query, values)

12666it [00:20, 605.53it/s]

In [13]:
for index, row in tqdm(allcards.iterrows()):

    query = """
    INSERT INTO cards (passcode, name)
    VALUES (%s, %s)        """            
    values = (row['id_'], row['name'])
    engine.execute(query, values)

12666it [00:21, 598.03it/s]

In [ ]:
allcards['def'] = allcards['def'].fillna(0).astype(int)

In [41]:
topcards.head(2)

        id_                                  name  decks  porcentage
0  14558127           Ash Blossom & Joyous Spring   2206     66.1668
1  90448279  Divine Arsenal AA-ZEUS - Sky Thunder   1818     54.5291

In [40]:
for index, row in tqdm(topcards.iterrows()):

    query = """
    INSERT INTO cards (decks, porcentage, cards_passcode)
    VALUES (%s, %s,%s)        """            
    values = (row['decks'], row['porcentage'],row['id_'])
    engine.execute(query, values)

0it [00:00, ?it/s]

OperationalError: (pymysql.err.OperationalError) (1054, "Unknown column 'decks' in 'field list'")
[SQL:
    INSERT INTO cards (decks, porcentage, cards_passcode)
    VALUES (%s, %s,%s)        ]
[parameters: (2206, 66.1668, 14558127)]
(Background on this error at: http://sqlalche.me/e/13/e3q8)

In [ ]:
cadena = allcards.loc[allcards['id_'] == 6859683, 'url_']
cadena_str = ''.join(cadena.astype(str))

In [ ]:
allcards.loc[allcards['id_'] == 300302044, 'race'].dtype

In [ ]:

cadena_completa = cadena_str.rstrip('.')
print(cadena_completa)

In [ ]:
allcards.loc[81555617]

In [ ]:
def revision_len_sql(df,column):
    maxi = 0
    for e in df[column]:
        if len(e) > maxi:
            maxi = len(e)
    return maxi

In [ ]:
revision_len_sql(allcards,"desc")