In [16]:
import pandas as pd
import numpy as np
import sqlalchemy as alch

from getpass import getpass # sistema seguro para gesti칩n de contrase침as
from tqdm import tqdm # Is a library for adding progress bars to your loops and iterations.

In [2]:
allcards = pd.read_csv("../data/all_cards.csv", index_col = 0)
topcards = pd.read_csv("../data/top_cards.csv", index_col = 0)

In [62]:
allcards.sample()

,id_,name,type,frametype,desc,race,archetype,atk,def,level,attribute,url_,cardmarket_price,tcgplayer_price,ebay_price,amazon_price,coolstuffinc_price,mean_price
585,29904964,Arisen Gaia the Fierce Knight,Effect Monster,effect,If your opponent controls more monsters than y...,Warrior,Gaia The Fierce Knight,2300,2100,7.0,DARK,https://yugioh.fandom.com/wiki/Arisen_Gaia_the...,0.33,0.54,1.98,0.99,0.99,0.966

In [67]:
allcards.isnull().sum()

id_                      0
name                     0
type                     0
frametype                0
desc                     0
race                     1
archetype             5364
atk                      0
def                      0
level                    0
attribute             4426
url_                     0
cardmarket_price         0
tcgplayer_price          0
ebay_price               0
amazon_price             0
coolstuffinc_price       0
mean_price               0
dtype: int64

In [ ]:
columna = 'race'
valores_nulos = allcards[allcards[columna].isnull()]
valores_nulos

In [4]:
allcards.reset_index(inplace=True)

In [ ]:
allcards

In [55]:
allcards.loc[994]

id_                                                           300302044
name                                                Believe in your Bro
type                                                         Skill Card
frametype                                                         skill
desc                  Once per turn, you can activate 1 of these Ski...
race                                                               None
archetype                                                           NaN
atk                                                                 NaN
def                                                                 NaN
level                                                               NaN
attribute                                                           NaN
url_                  https://yugioh.fandom.com/wiki/Believe_in_your...
cardmarket_price                                                    0.0
tcgplayer_price                                                     0.1
ebay_price                                                         0.99
amazon_price                                                        0.0
coolstuffinc_price                                                 0.49
mean_price                                                        0.316
Name: 994, dtype: object

In [5]:
# almacenamos la contrase침a en una variable de forma segura, para que nadie la pueda ver. 

password = getpass("Contrase침a de MySQL: ")

In [6]:
# almacenamos el nombre de nuestra BBDD en una variable
db_name = "yu_gi_oh_cards"


# creamos la conexipn con MySQL
conexion = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [7]:
engine = alch.create_engine(conexion)

In [ ]:
allcards["name"] = allcards["name"].str.replace('"', " ").str.replace("'"," ").str.replace('""'," ").str.replace("%"," ")
allcards["desc"] = allcards["desc"].str.replace('"', " ").str.replace("'"," ").str.replace('""'," ").str.replace("%"," ").str.replace("@"," ")

In [ ]:
allcards.head(1)

In [ ]:
for index, row in tqdm(allcards.iterrows()):
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    cards_passcode = engine.execute(f"""select passcode_desc from description WHERE passcode_desc = "{row["id_"]}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(cards_passcode)) > 0: 
        pass
        #print("lo siento, este id ya existe")
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else:
        #print(row["id_"])
       # query = f"""
           # INSERT INTO description (p\asscode_desc, url, desc) VALUES
            #("{row["id_"]}",'{row["url_"]}',"{row["desc"]}");"""
        print(row["id_"])
        
          
        query = """
        INSERT INTO `description` (passcode_desc, url, `desc`, cards_passcode)
        VALUES (%s, %s, %s, %s)
        """            
        values = (row['id_'], row['url_'], row['desc'], row['id_'])
        engine.execute(query, values)

In [27]:
for index, row in tqdm(allcards.iterrows()):
    
    
    query = """
    INSERT INTO race (race_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['race'], row['id_'],row['id_'])
    engine.execute(query, values)

12666it [00:18, 669.45it/s]

In [59]:
for index, row in tqdm(allcards.iterrows()):
    
    
    query = """
    INSERT INTO def (def, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['def'], row['id_'],row['id_'])
    engine.execute(query, values)

12666it [00:22, 563.56it/s]

In [61]:
for index, row in tqdm(allcards.iterrows()):
    
    
    query = """
    INSERT INTO atk (atk, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['atk'], row['id_'],row['id_'])
    engine.execute(query, values)

12666it [00:18, 678.22it/s]

In [60]:
allcards['atk'] = allcards['atk'].fillna(0).astype(int)

In [64]:
for index, row in tqdm(allcards.iterrows()):
    
    
    query = """
    INSERT INTO level (level, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['level'], row['id_'],row['id_'])
    engine.execute(query, values)

12666it [00:18, 676.17it/s]

In [63]:
allcards['level'] = allcards['level'].fillna(0).astype(int)

In [66]:
for index, row in tqdm(allcards.iterrows()):

    query = """
    INSERT INTO type (type_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['type'], row['id_'],row['id_'])
    engine.execute(query, values)

12666it [00:20, 618.51it/s]

In [73]:
for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO archetype (archetype_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['archetype'], row['id_'],row['id_'])
    engine.execute(query, values)

12666it [00:20, 630.35it/s]

In [72]:
allcards['archetype'] = allcards['archetype'].fillna("None")

In [76]:
for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO attribute (attribute_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['attribute'], row['id_'],row['id_'])
    engine.execute(query, values)

12666it [00:20, 603.61it/s]

In [75]:
allcards['attribute'] = allcards['attribute'].fillna("None")

In [77]:
for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO frametype (frametype_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['attribute'], row['id_'],row['id_'])
    engine.execute(query, values)

12666it [00:19, 651.92it/s]

In [78]:
for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO market_price (passcode_mp, cardmarket_price, tcgplayer_price, ebay_price, amazon_price, coolstuffinc_price, cards_passcode)
    VALUES (%s, %s, %s, %s, %s, %s, %s)        """            
    values = (row['id_'], row['cardmarket_price'],row['tcgplayer_price'],row['ebay_price'],row['amazon_price'],row['coolstuffinc_price'],row['id_'])
    engine.execute(query, values)

12666it [00:18, 671.27it/s]

In [ ]:
for index, row in tqdm(topcards.iterrows()):
    
    query = """
    INSERT INTO market_price (passcode_tc, decks, porcentage, cards_passcode)
    VALUES (%s, %s, %s, %s)        """            
    values = (row['id_'],,row['id_'])
    engine.execute(query, values)

In [ ]:
for index, row in tqdm(allcards.iterrows()):
    
    # hacemos una primera query para chequear si el id que le vamos a pasar ya existe
    cards_passcode = engine.execute(f"""select passcode from cards WHERE passcode = "{row["id_"]}";""")
    
    # si lo que nos devuelve tiene algun valor decimos que ya existe y por lo tanto no lo podemos introducir
    if len(list(cards_passcode)) > 0: 
        pass
        #print("lo siento, este id ya existe")
        
    # si no existe, lo insertamos usando la sentencia INSERT INTO
    else:
        #print(row["id_"])
        
        engine.execute(f"""
            INSERT INTO cards (passcode, name) VALUES
            ("{row["id_"]}","{row["name"]}");""")

In [58]:
allcards['def'] = allcards['def'].fillna(0).astype(int)

In [ ]:
cadena = allcards.loc[allcards['id_'] == 6859683, 'url_']
cadena_str = ''.join(cadena.astype(str))

In [22]:
allcards.loc[allcards['id_'] == 300302044, 'race'].dtype

dtype('O')

In [ ]:

cadena_completa = cadena_str.rstrip('.')
print(cadena_completa)

In [ ]:
allcards.loc[81555617]

In [ ]:
def revision_len_sql(df,column):
    maxi = 0
    for e in df[column]:
        if len(e) > maxi:
            maxi = len(e)
    return maxi

In [ ]:
revision_len_sql(allcards,"desc")