In [1]:
# We import the libraries that we will need for the lab.
import pandas as pd # data handling and dataframes
import numpy as np # array handling and mathematical operations
import sqlalchemy as alch # powerful and widely-used library for working with databases in Python

import sys
sys.path.append('../')
import src.suport as sp

from getpass import getpass # Secure system for password management
from tqdm import tqdm # Is a library for adding progress bars to your loops and iterations.

In [2]:
# We store the password in a secure variable so that no one can see it.
password = getpass("Contrase√±a de MySQL: ")

In [3]:
# We store the name of our database in a variable
db_name = "yu_gi_oh_cards"


# conexion MySQL
conexion = f"mysql+pymysql://root:{password}@localhost/{db_name}"

In [4]:
# Create a database engine
engine = alch.create_engine(conexion)

In [5]:
# Read the "all_cards.csv" file
allcards = pd.read_csv("../data/all_cards.csv", index_col = 0)
# Read the "top_cards.csv" file
topcards = pd.read_csv("../data/top_cards.csv", index_col = 0)

In [6]:
# to find and retrieve the rows from the DataFrame allcards where the specified column ('race')
# contains null values.
column = 'race'
nulls = allcards[allcards[column].isnull()]
nulls

,name,type,frametype,desc,race,archetype,atk,def,level,attribute,url_,cardmarket_price,tcgplayer_price,ebay_price,amazon_price,coolstuffinc_price,mean_price
id_,,,,,,,,,,,,,,,,,
300302044,Believe in your Bro,Skill Card,skill,"Once per turn, you can activate 1 of these Ski...",NaN,NaN,NaN,NaN,NaN,NaN,https://yugioh.fandom.com/wiki/Believe_in_your...,0.0,0.1,0.99,0.0,0.49,0.316

In [7]:
# reset the index of the allcards and topcards DataFrames.
allcards.reset_index(inplace=True)
topcards.reset_index(inplace=True)

In [8]:
# adds a new column called 'valorsfk' to the allcards DataFrame.
allcards['valorsfk'] = range(1, 12667)

## Insert data. (SQL)

In [9]:
# Iterate over the rows of the allcards DataFrame
for index, row in tqdm(allcards.iterrows()):

    query = """
    INSERT INTO cards (passcode, name)
    VALUES (%s, %s)        """            
    values = (row['id_'], row['name'])
    engine.execute(query, values) # Execute the SQL query to insert values into the cards table

12666it [00:20, 632.21it/s]

In [10]:
for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO `description` (url, `desc`, cards_passcode)
    VALUES (%s, %s, %s)
    """            
    values = (row['url_'], row['desc'], row['id_'])
    engine.execute(query, values)

12666it [00:21, 580.90it/s]

In [11]:
allcards.loc[allcards['id_'] == 300302044, 'race'] = 'none'

for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO race (race_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s,%s)        """            
    values = (row['race'], row['id_'],row['valorsfk'])
    engine.execute(query, values)

12666it [00:21, 595.67it/s]

In [12]:
sp.changenumber(allcards, 'def')

for index, row in tqdm(allcards.iterrows()):
    

    query = """
    INSERT INTO def (def, description_cards_passcode, description_description_id)
    VALUES (%s, %s,%s)        """            
    values = (row['def'], row['id_'],row['valorsfk'])
    engine.execute(query, values)

12666it [00:20, 616.34it/s]

In [13]:
sp.changenumber(allcards, 'atk')

for index, row in tqdm(allcards.iterrows()):
    
    
    query = """
    INSERT INTO atk (atk, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['atk'], row['id_'],row['valorsfk'])
    engine.execute(query, values)

12666it [00:20, 616.98it/s]

In [14]:
sp.changenumber(allcards, 'level')

for index, row in tqdm(allcards.iterrows()):
    
    
    query = """
    INSERT INTO level (level, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['level'], row['id_'],row['valorsfk'])
    engine.execute(query, values)

12666it [00:20, 611.39it/s]

In [15]:
for index, row in tqdm(allcards.iterrows()):

    query = """
    INSERT INTO type (type_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['type'], row['id_'],row['valorsfk'])
    engine.execute(query, values)

12666it [00:20, 613.31it/s]

In [16]:
sp.changestring(allcards,'archetype')

for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO archetype (archetype_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['archetype'], row['id_'],row['valorsfk'])
    engine.execute(query, values)

12666it [00:20, 612.44it/s]

In [17]:
sp.changestring(allcards,'attribute')

for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO attribute (attribute_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['attribute'], row['id_'],row['valorsfk'])
    engine.execute(query, values)

12666it [00:20, 604.44it/s]

In [18]:
for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO frametype (frametype_name, description_cards_passcode, description_description_id)
    VALUES (%s, %s, %s)        """            
    values = (row['frametype'], row['id_'],row['valorsfk'])
    engine.execute(query, values)

12666it [00:20, 606.93it/s]

In [19]:
for index, row in tqdm(allcards.iterrows()):
    
    query = """
    INSERT INTO market (cardmarket_price, tcgplayer_price, ebay_price, amazon_price, coolstuffinc_price, cards_passcode)
    VALUES (%s, %s,%s, %s, %s, %s)        """            
    values = (row['cardmarket_price'],row['tcgplayer_price'],row['ebay_price'],row['amazon_price'],row['coolstuffinc_price'], row['id_'])
    engine.execute(query, values)

12666it [00:21, 597.27it/s]

In [20]:
topcards["name"] = topcards["name"].str.replace('"', " ").str.replace("'"," ").str.replace('""'," ").str.replace("%"," ")
allcards["name"] = allcards["name"].str.replace('"', " ").str.replace("'"," ").str.replace('""'," ").str.replace("%"," ")

In [21]:
# Iterate over each row in the topcards DataFrame
for index, row in topcards.iterrows():
    # Get the values from the current row
    card_name = row['name']
    card_decks = row['decks']
    card_porcentage = row['porcentage']
    
    # Find the corresponding card_id in the allcards DataFrame
    card_id = allcards.loc[allcards['name'] == card_name, 'id_'].values[0]
    
    # Build the SQL query to insert the data into the top_cards table
    query = f"INSERT INTO top_cards (cards_passcode, decks, porcentage, topcards_name) VALUES ({card_id}, '{card_decks}', '{card_porcentage}', '{card_name}')"
    
    # Execute the query to insert the data into the table
    engine.execute(query)